/* #wrapper .navbar-default {
	background-color: #f9f6fe;
	border-color: #c9abfc;
}*/
#siteAssets{
	height: 100%;
	display: flex;
	align-items: center;
	width: 60px;
	right: 0;
	position: fixed;
	justify-content: right;
}

#patientCopy {
	padding: 0 8px 8px;
	font-size: 50px;
	line-height: 50px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	background-color: buttonface;
	cursor: pointer;
	opacity: 0;
	transition: opacity .5s;
}
#siteAssets:hover #patientCopy {
	opacity: 1;
}

/* class="dropZoneKeepAlive" */
.dropZoneKeepAlive .upload-box {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,.7);
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	padding:0;
}

.dropZoneKeepAlive #uploadTable {
	height: calc(100vh - 20px);
	width: calc(100vw - 20px);
	background-color: rgba(255, 255, 255, .5);
	border-radius: 30px;
	border:0;
	box-shadow: 0px 0px 0px 1px #fff;
}

.dropZoneKeepAlive #tdNote,
.dropZoneKeepAlive #tdType,
.dropZoneKeepAlive #tdType+td {
	display: none;
}

.dropZoneKeepAlive #uploadTable td {
	text-align: center;
}

.dropZoneKeepAlive .upload {
	background-image: none;
	padding: 0;
	transform: scale(3);
}

.dropZoneKeepAlive .upload span {
	color: #fff;
	text-shadow: 0px 1px 1px #666;
}
#MainContent_ctl00_ctl00_upPanel .form-group .failureNotification {
	position: absolute;
	right: -82px;
	top: 3px;
	z-index: 2;
	background-color: #a94442;
	padding: 0px 4px;
	border-radius: 4px;
	box-sizing: border-box;
	color:#ffffff;
}

.QAManagerSubHeading {
	padding: 2px 5px;
	display: inline-block;
	background-color: #7e14ce;
	color: #ffffff;
	border-radius: 5px 0 0 5px;
	border-right: 6px double #f9f1ff;
	margin-right: 5px;
	font-weight: bold;
}

#stabilityNotice {
	position: absolute;
	margin-left: 114px;
	top: 32px;
	width: calc(100% - 152px);
	border: 1px solid #ddd;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #f1f1f1;
	z-index: 1;
	cursor: help;
}
#stabilityNotice.stabilityNoticeExistingACS {
	transition: height .3s, box-shadow .3s, top .3s;
	overflow: hidden;
	height: 5px;
	box-shadow: 0px 0px 0px 0px #999999;
}

#stabilityNotice.stabilityNoticeExistingACS:hover {
	top: 21px;
	height: 25px;
	box-shadow: 1px 1px 1px 0px #999999;
}

#stabilityNotice.phaseOne .QAManagerSubHeading{/* New: 0 - 27 days */
	background-color: #609900;
	text-shadow: 1px 1px 0px #00561d;
}

#stabilityNotice.phaseTwo .QAManagerSubHeading{/* Local Lab Invalid: Aproaching/Over 30 days */
	background-color: #e58a00;
	text-shadow: 1px 1px 0px #563700;
}

#stabilityNotice.phaseThree .QAManagerSubHeading{/* Reference Lab Invalid: Aproaching/Over 90 days */
	background-color: #990000;
	text-shadow: 1px 1px 0px #560000;
}

#stabilityNotice.phaseFour .QAManagerSubHeading{/* Expired: 180 day */
	background-color: #848484;
	text-shadow: 1px 1px 0px #3c3c3c;
}